<h1> RUNNING  </h1> 
<h2> from Chicago to San Francisco </h2> 
<h2> A total of 2,133 miles! </h2>
<img src = "http://www.dreamsmithphotos.com/arrow/airmail_routes/route_11_20/18/image_18/cam_18_rt.jpg" height = "434" width="640">
<h3> Instructions: </h3>
<p> Enter how far you ran today, rounded to the nearest whole number (no decimals)</p>


<form action="/" method="POST">
	<input type= "text" name="name" placeholder="Mileage"> 

<input type= "submit" value= "Go!">
</form>

